{{#if error}}
  <div class="alert alert-danger alert-fixed">{{error}}</div>
{{/if}}

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger alert-fixed">{{message}}</div>
  {{/each}}
{{/if}}