<div class="footer-effect"></div>
	<!--Footer Start-->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center mt-3">
					<p class="company-about fadeIn">&copy; 2020, Madam Sauce. Made with <span>â¤</span> by à¼„ğ•ºğ–’ğ–Ÿğ–à¿ (<a href="https://twitter.com/o_obioha" rel="noopener noreferrer" class="twitter-link">Omezibe Obioha</a>).
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--Footer End-->