{{#if successMessage}}
  <div class="alert alert-success alert-fixed">{{successMessage}}</div>
{{/if}}

{{#if errorMessage}}
  <div class="alert alert-danger alert-fixed">{{errorMessage}}</div>
{{/if}}