<section class="p-lg-0 login-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 order-2 position-relative d-flex align-items-center bg-1">
        <div class="login-content text-center text-lg-left">
          
          <div class="title d-inline-block mb-4">
            <h3 class="mb-3 heading">Get food fast, not fast food!</h3>
            <p class="text">Log in to your Madam Sauce account to order your favorite dish😋</p>
          </div>

          <form action="/login" method="POST" autocomplete="off">
            <input class="form-control" type="text" name="email" value="{{email}}" placeholder="E-mail Address" required="">
            <input class="form-control" type="password" name="password" value="{{password}}" placeholder="Password" required="">
            <div class="form-button">
              <button id="submit" type="submit" class="btn btn-large rounded-pill main-btn">Login</button> <a
                href="/register" class="text">Not Registered Yet?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-lg-6 order-1 p-0 login-side-background" style="background-image: url('img/img-side-half.jpg');">
      </div>
    </div>

  </div>
</section>